<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.database.GroupMapper">
	<insert id="insertGroup" parameterType="GroupDTO">
		insert into p_group	values(group_num.nextval , #{g_name}, to_date(#{g_date},'yyyy-mm-dd hh24:mi:ss'), #{c_num})
	</insert>
	<select id="loginGroup" parameterType="GroupDTO"
		resultType="GroupDTO">
		select * from p_group where g_num=#{g_num}
	</select>
	<select id="groupCheck" parameterType="String"
		resultType="boolean">
		select case when count(*)>0 then 1
		else 0
		end result
		from
		p_group where g_name=#{g_name}
	</select>
	<update id="updateGroup" parameterType="GroupDTO">
		update p_group set
		g_name=#{g_name}, c_num=#{c_num}, where g_num=#{g_num}
	</update>
	<select id="allGroup" resultType="GroupDTO">
		select * from p_group
	</select>
	<delete id="deleteGroup" parameterType="String">
		delete from p_group
		where
		g_name=#{g_name}
	</delete>
</mapper>