<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 5. Mapper 생성 -> SQL 쿼리문 작성 -->
<!-- namespace : Mapper의 id를 그룹화하는 속성 sql 태그의 id 값이 중복될 수 있기 때문에 원하는 id 값으로 
	잘 찾아가도록 그룹화 -> 주로 현재 Mapper 파일의 경로를 작성 -->
<mapper namespace="com.project.database.MemberMapper">
	<insert id="joinMember" parameterType="MemberDTO">
		insert into p_member
		values(#{m_email}, #{m_pw}, #{m_nick}, #{m_class}, null, null)
	</insert>
	<select id="loginMember" parameterType="MemberDTO"
		resultType="MemberDTO">
		select * from p_member where m_email=#{m_email} and
		m_pw=#{m_pw}
	</select>
	<select id="emailCheck" parameterType="String"
		resultType="boolean">
		select case when count(*)>0 then 1
		else 0
		end result
		from
		p_member where m_email=#{m_email}
	</select>
	<update id="updateMember" parameterType="MemberDTO">
		update p_member set
		m_pw=#{m_pw}, m_nick=#{m_nick}, m_class=#{m_class} where
		m_email=#{m_email}
	</update>
	<select id="allMember" resultType="MemberDTO">
		select * from p_member where
		not(m_email='admin')
	</select>
	<delete id="delMember" parameterType="String">
		delete from p_member
		where
		m_email=#{m_email}
	</delete>
</mapper>