<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 2. Mybatis-config.xml 만들기 : Mybatis의 환경설정(중요한 파일) -->
	<!-- 3. db.properties 만들기 : db 연결 정보 저장할 파일 -> 공백 주의 -->
	<properties resource="com/project/database/db.properties">
	</properties>
	<typeAliases>
		<typeAlias type="com.project.model.MemberDTO"
			alias="MemberDTO" />
		<typeAlias type="com.project.model.BoardDTO"
			alias="BoardDTO" />
		<typeAlias type="com.project.model.MessageDTO"
			alias="MessageDTO" />
		<typeAlias type="com.project.model.ContentDTO"
			alias="ContentDTO" />
			<typeAlias type="com.project.model.GroupDTO"
			alias="GroupDTO" />
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/project/database/MemberMapper.xml" />
		<mapper resource="com/project/database/BoardMapper.xml" />
		<mapper resource="com/project/database/MessageMapper.xml" />
		<mapper resource="com/project/database/ContentMapper.xml" />
		<mapper resource="com/project/database/GroupMapper.xml" />
	</mappers>
</configuration>